.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  height: 50px;
  /* position: fixed; */
  width: 100%;
  z-index: 10;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav_id {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: rgb(33, 33, 34);
  text-decoration: none;
}
.nav_id:hover {
  color: rgb(116, 32, 67);
}
