/* ***********************************
input element design
***************************** */

form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  column-gap: 20px;
}

.btn_add {
  width: 150px;
}

/* ***********************************
table element design
***************************** */

.table_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 24px;
}
th {
  background-color: rgb(23, 33, 39);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

td {
  background-color: rgb(233, 233, 233);
}
